/* group of style elements consistent throughout the page */
header, h2, p, ol, ul {
  font-family: monaco, monospace;
  color: #4A4A48;
}

body {
  margin: 0;
  background-color: #F1F2EB;
}

/* header */
header {
  background-color: #A4C2A5;
  text-align: center;
  font-size: 30px;
}

/* image */
img {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/* main */
h2 {
  text-align: center;
}
p {
  padding: 5px;
}

/* footer */
footer {
  background-color: #4A4A48
}

footer > p {
  color: #F1F2EB;
}

/* Link Colors */
a:link { color: #566246; }
a:visited { color: #2E5266 }
a: hover { color: #A4C2A5; }
a: active { color: #A14DA0 }